// colors

$grey: #D0D6F9;
$black: #000;
$white: #fff;
$black-haze: #0B0D17;
$grey-haze: #979797;
$grey-dark: #4D4F56;

// 
$font-family-1 : 'Barlow Condensed';
$font-family-2 : 'Barlow';
$font-family-3 : 'Bellefair';

// font-size
$heading-1 : 9.375rem;
$heading-2 : 6.25rem;
$heading-3 : 3.5rem;
$heading-4 : 2rem;
$heading-5 : 1.75rem;
$regular-size: 1rem;

$subheading-1: 1.75rem;
$subheading-2: 0.85rem;
$regular-heading: 1.5rem;

// breakpoints

$tablet: 768px;
$tablet-lg: 1024px;
$desktop: 1280px;

